{% extends 'pages/base.jinja' %}

{% block title %}

    Drinks List

{% endblock %}


{% block content %}

    <h1>Drinks List</h1>

    <section id="things">

        {% for thing in things %}

            <p><a href="/thing/{{ thing.id }}">
                {{ thing.flavour }}
            </a></p> 

        {%endfor%}

    </section>


{% endblock %}
