{% extends 'pages/base.jinja' %}

{% block title %}

    Drink Info

{% endblock %}


{% block content %}

    <h1>Drink Info</h1>

    <article>

        <h3>{{ thing.flavour }}</h3>

        <p>Rating: {{thing.rating}}/10</p>

        <a href="/delete/{{thing.id}}">Delete This Drink</a>

    </article>

    <a role = "button" href="/">Back To list</a>

{% endblock %}
