{% extends 'pages/base.jinja' %}

{% block title %}

    Add a Drink

{% endblock %}


{% block content %}

    <h1>Add a Drink</h1>

    <article>

        <form action="/add-thing" method="POST">
            
            <label>
                Drink Flavour
                <input name="flavour" type="text" required>
            </label>

            <label>
                Rating (/10)
                <input name="rating" type="text" min="0" value="0" required>
            </label>

            <button>Add Your Drink</button>
        </form>

    </article>

{% endblock %}
